body {
    font-family: 'Montserrat', sans-serif !important;
	background: rgb(198, 216, 192);
		opacity: 0.9;
    margin: 0;
    padding: 0;
}
.sign h2{
    position: relative;
    bottom:25px;
	color: rgb(56, 54, 54) !important;
	text-align: center;
			font-size: 30px;
		font-family: 'Montserrat', sans-serif;
}
.a{
    position: relative;
    left: 50px;
}
#signup-form
{
    position: relative;
    left: 30px;
    bottom: 30px;
}
		.cont {
			background: #ffffff;
			border-radius: 50px 0px;
	box-shadow: 0px 0px 20px #2a7223;
				padding: 30px;
			margin: 60px auto;
			width: 500px;
			height:90vh;
			padding-bottom: 10px;
			}

		input[type="text"], input[type="role"], input[type="phone"] ,input[type="email"],input[type="password"]
        {
			width: 80%;
            outline: none;
			padding: 10px;
			margin-bottom: 15px;
			margin-top: 20px;
			border: none;
            font-family: 'Montserrat', sans-serif;
			border-radius: 6px;
			box-shadow: 0px 0px 5px #888888;
		}
		input[type="submit"] {
				color: white;
					border: none;
					height: 50px;
					border-radius: 10px;
					font-family: 'Montserrat', sans-serif;
					font-size: 20px;
					cursor: pointer;
					width: 200px;
					justify-content: center;
					margin-left: 150px;
	background: rgb(92, 151, 53);
	            float:inline-end;

		}
		input[type="submit"]:hover {
			background-color: #867e77;

		}
		/* .add{
			 padding-top: 5px;
			text-align: center;
			letter-spacing: 1px;
			word-spacing: 1px;
		}
        */
		.in{
            width: 207px;
            height: 29px;
		}

.forget{
	margin-top: 30px;
}
#accept{
	color: rgb(92, 151, 53);
		font-weight: 600;
}
#terms
{
	margin-bottom: 20px;
}